@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: rgba(8, 8, 8, 0.89);
  background-image: radial-gradient(rgba(53, 51, 51, 0), rgb(0, 0, 0)),url(15.png);
}

.navbar
{
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  width: 100%;
  height: 100px;
  min-height: 150px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
}

.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
padding-top: 5%;
}

.logo img {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
padding-top: 5%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}


.main {
  width: 100%;
  margin-top: 1px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 800px;

  }

  .ar{
    width: 500px;
    height: 100px;
    color: rgba(0, 0, 0, 0.782);
  }

  .area{
    width: 450px;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5px;
    box-shadow: 2px 2px 10px white;
    transition: background-color .30s ease-in-out;
    border-radius: 10px;
  }
  .area:hover{
    background-color: rgba(7, 1, 94, 0.371);
    box-shadow: 1px 1px 30px rgb(255, 0, 0);
  }
.s1{
    padding-right:  47%;
    padding-top: 10%;
  text-wrap: nowrap;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  }

  .search {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: left;
    margin-top: 10px;
  }

  .box {
    width: 70%;
    min-height: 50px;
    background-color: rgba(39, 38, 38, 0.903);
    border-radius: 7px;
  }

  .b1{
  padding-left: 14%;
  text-wrap: nowrap;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  color: aliceblue;
}


.try {
  color: aliceblue;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #120551;
  font-size: 20px;
  width: 84%;
    min-height: 50px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(181, 177, 177);
    transition: background-color 0.3s ease-in-out;
}
.try:hover{
  background-color: red;
}

.cbox{
   
    width: 85%;
    min-height: 70%;
    color: gray;
}

.d1
{
  width: 40%;
  height: 20px; 
  padding: 5px;
  float:left;
  padding-left: 2.5%;
}
.d2
{
  width: 20px;
  height: 20PX;
  padding: 5px;
  float:right;
  padding-right: 23%;
  text-wrap: nowrap;
  
}

.ghj
{
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  color: gray;
  font-size: 15px;
  width: 100%;
  min-height: 100%;
  padding-top: 12%;
  padding-right: 29%;
}
.ghh
{
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  color: gray;
  font-size: 13px;
  width: 100%;
  min-height: 100%;
  padding-top: 2%;
  padding-right: 9.5%;
}
.mm
{
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  color: gray;
  font-size: 13px;
  width: 100%;
  min-height: 100%;
  padding-right: 24%;
}

